<nav
  class="navbar navbar-expand-sm navbar-dark"
  style="background-color: #03120e"
  aria-label="Third navbar example"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample03"
      aria-controls="navbarsExample03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link disabled"
                href="#"
                tabindex="-1"
                aria-disabled="true"
                >Disabled</a
              >
            </li> -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdown03"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Spiele</a
          >
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li>
              <a class="dropdown-item" href="../pages/rock_paper_sciccor.html"
                >Schere-Stein-Papier</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="../pages/memory.html"
                >Memory Spiel</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="../pages/color_codes.html"
                >Color Codes</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="../pages/number_guessing.html"
                >Number Guessing Game</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdown04"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Downloads</a
          >
          <ul class="dropdown-menu" aria-labelledby="dropdown04">
            <li>
              <a class="dropdown-item" href="../zip/Schere-Stein-Papier.zip"
                >Schere-Stein-Papier</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="../zip/memory-game.zip"
                >Memory Spiel</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="../Zip/color_codes.zip"
                >Color Codes</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="../zip/number_guessing.zip"
                >Number Guessing Game</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdown04"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Tutorials
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdown04">
            <li>
              <a
                class="dropdown-item"
                href="../pages/rock_paper_sciccor_information.html"
                >Schere-Stein-Papier</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="../pages/memoryInfo.html"
                >Memory Spiel</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="../pages/color_codes_info.html"
                >Color Codes</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="../pages/number_guessing_information.html"
                >Number Guessing Game</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/about_us.html">Über uns</a>
        </li>
      </ul>

      <!-- <form>
            <input
              class="form-control"
              type="text"
              placeholder="Search"
              aria-label="Search"
            />
          </form> -->
    </div>
  </div>
</nav>
