body {
  background-color: #1a1d1a;
  color: #8ab0ab;
}

.thumbnail {
  width: 100%;
  height: auto; /* Fixed height for all images */
  object-fit: cover; /* Ensures images cover the div without stretching */
}

.image-container {
  padding: 10px;
  text-align: center; /* Center align the image */
}

.figcaption {
  margin-top: 10px;
  font-size: 16px;
}

h3 {
  text-align: center;
}
